# In a hosted environment, .env would not be used. Use this solely for local development.

# Specify dbt project directory so that dbt commands work everywhere in the repo
DBT_PROJECT_DIR=transform

# Secrets go here...
